<div class="container text-center">
    <h1>About Section</h1>
    <p>This is a simple App written with Node.js and Express. The UI is designed with Bootstrap 4. 
    The app allows users <br>to login
    and jot down ideas for new projects or todos. I utilized Handlebars.js for 
    views, Mongoose to connect to MongoDB and Passport for authentication.</p>
    
    <h3>Written and Designed by Parker Sipes</h3>

<p>Version 1.0.0</p>
</div>
