<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Begin your journey!</p>

    <a class="btn btn-dark btn-lg bg-primary"  href="/notes/add">Jot New Note</a>
   
</div>
